//# fashion warn -elevation

$ios-angle-down: "\e900";
$ios-angle-left: "\e901";
$ios-angle-right: "\e902";
$ios-angle-up: "\e903";
$ios-back: "\e904";
$ios-check: "\e905";
$ios-check-box-checked: "\e906";
$ios-check-box-unchecked: "\e907";
$ios-check-circle-checked: "\e908";
$ios-check-cricle-unchecked: "\e909";
$ios-times-circle: "\e90a";
$ios-sort-desc: "\e90b";
$ios-sort-asc: "\e90c";
$ios-radio-button-checked: "\e90d";
$ios-radio-button-unchecked: "\e90e";
$ios-row-expander-collapse: "\e90f";
$ios-row-expander-expand: "\e910";
$ios-spinner: "\e911";
$ios-spinner-minus: "\e912";
$ios-spinner-plus: "\e913";

//# fashion warn +elevation
